<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>bobble</title>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <div id="container_box">
            <div id="error_message" >&nbsp;</div>
            <div id="main_box">
                <h1>
                    <span class="logo">
                        <span class="bblue">B</span><!--
                        --><span class="bred">o</span><!--
                        --><span class="byellow">b</span><!--
                        --><span class="bgreen">b</span><!--
                        --><span class="bblue">l</span><!--
                        --><span class="bred" id="brot">e</span>
                    </span>
                    <span class="version">version <%= version %><span>
                </h1>
                <form id="search_form" method="get" action="http://www.google.fr/search"
                    autocomplete="off">
                    <table>
                        <tr>
                            <td class="search_input">
                                <input id="question" list="suggestions" type="text" tabindex="1" autofocus="1"/>
                                <datalist id="suggestions">
                                </datalist>
                            </td>
                            <td>
                                <input id="submit_button" type="submit" value="Gom !!"/>
                            </td>
                        </tr>
                    </table>
                </form>
                <div id="options_link">
                    <a href="#">options</a>
                </div>
            </div>
            <div id="available_engines" />
            </div>
        </div>
        <script type="text/javascript" src="js/main.bundle.js"></script>
    </body>
</html>
